<div class="modal fadeDown" id="menuModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="container-wrapper" id="job-listing-wrapper">
            <div class="container">
                <div class="row">
                    <div class="jc-title-wrapper">
                        <h2>Explore!</h2>
                        <!-- <p>Working at BookMyShow is fun</p> -->
                    </div>
                    <div class="job-type-wrapper">
                        <div class="line-wrapper">
                            <div class="col-xs-4 col-sm-2 job-type-block animated fadeInDown" id="jtb-7">
                                <a href="/">
                                    <div class="jtb-icon">
                                        <img alt="" src="/media/nav_modal/svg/fs-home.png"/>
                                    </div>
                                    <p>Home</p>
                                </a>
                            </div>
                            <div class="col-xs-4 col-sm-2 job-type-block animated fadeInDown" id="jtb-2">
                                <a href="/clubs">
                                    <div class="jtb-icon">
                                        <img alt="" src="/media/nav_modal/svg/clubs.svg"/>
                                    </div>
                                    <p>Clubs</p>
                                </a>
                            </div>
                            <div class="col-xs-4 col-sm-2 job-type-block animated fadeInDown" id="jtb-3">
                                <a href="/contributions">
                                    <div class="jtb-icon">
                                        <img alt="" src="/media/nav_modal/svg/contri.svg"/>
                                    </div>
                                    <p>Contributions</p>
                                </a>
                            </div>
                            <div class="col-xs-4 col-sm-2 job-type-block animated fadeInDown" id="jtb-4">
                                <a href="/events">
                                    <div class="jtb-icon">
                                        <img alt="" src="/media/nav_modal/svg/events.svg"/>
                                    </div>
                                    <p>Events</p>
                                </a>
                            </div>
                        </div>
                        <div class="line-wrapper">
                            <div class="col-xs-4 col-sm-2 job-type-block animated fadeInDown" id="jtb-5">
                                <a href="//register.hackncs.com">
                                    <div class="jtb-icon">
                                        <img alt="" src="/media/nav_modal/svg/registration.svg"/>
                                    </div>
                                    <p>Register</p>
                                </a>
                            </div>
                            <!-- <div class="col-xs-4 col-sm-2 job-type-block animated fadeInDown" id="jtb-1">
                                <a href="/contact">
                                    <div class="jtb-icon">
                                        <img alt="" src="/media/nav_modal/svg/about.svg"/>
                                    </div>
                                    <p>Contact Us</p>
                                </a>
                            </div> -->
                            <div class="col-xs-4 col-sm-2 job-type-block animated fadeInDown" id="jtb-7">
                                <a href="/team">
                                    <div class="jtb-icon">
                                        <img alt="" src="/media/nav_modal/svg/teamwork.svg"/>
                                    </div>
                                    <p>Team</p>
                                </a>
                            </div>
                            <!-- <div class="col-xs-4 col-sm-2 job-type-block animated fadeInDown" id="jtb-8">
                                <a href="/test">
                                    <div class="jtb-icon">
                                        <img alt="" src="/media/nav_modal/svg/test.svg"/>
                                    </div>
                                    <p>Testimonials</p>
                                </a>
                            </div>
                            <div class="col-xs-4 col-sm-2 job-type-block animated fadeInDown" id="jtb-9">
                                <a href="/video">
                                    <div class="jtb-icon">
                                        <img alt="" src="/media/nav_modal/svg/video.svg"/>
                                    </div>
                                    <p>Video</p>
                                </a>
                            </div> -->
                        </div>
                    </div>
                    <!--                         <div class="bms-btn job-listing-btn">
                            <a href="/job-listings/">See all Jobs</a>
                        </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
