<div class="container-wrapper stats-grid-wrapper">
    <div class="stats-grid-row" id="sg-row-1">
        <div class="stats-grid-box anim-in-view" id="sgb-1">
            <div class="stat-inside-main">
                <!-- <img src="/media/numbers/since.svg" alt=""> -->
                <object alt="" class="img" data="/media/numbers/since.svg">
                </object>
            </div>
            <!--<div class="stats-extras-wrapper">
               <div class="stats-extra" id="se1-1"><img src="./images/stats-grid/stat-1-extra-01.svg" alt=""></div>
               <div class="stats-extra" id="se1-2"><img src="./images/stats-grid/stat-1-extra-02.svg" alt=""></div>
               <div class="stats-extra" id="se1-3"><img src="./images/stats-grid/stat-1-extra-03.svg" alt=""></div>
            </div> -->
            <p class="stat-content" style="display: block;">
                Since
            </p>
        </div>
        <div class="stats-grid-box anim-in-view" id="sgb-2">
            <div class="stat-inside-main">
                <object alt="" class="img" data="/media/numbers/events.svg">
                </object>
            </div>
            <p class="stat-content" style="display: block;">
                Events
            </p>
        </div>
        <div class="stats-grid-box anim-in-view" id="sgb-3">
            <div class="stat-inside-main">
                <object alt="" class="img" data="/media/numbers/workshop.svg">
                </object>
            </div>
            <p class="stat-content" style="display: block;">
                Workshops
            </p>
        </div>
    </div>
    <div class="stats-grid-row" id="sg-row-2">
        <div class="stats-grid-box anim-in-view" id="sgb-4">
            <div class="stat-inside-main">
                <object alt="" class="img" data="/media/numbers/seminars.svg">
                </object>
            </div>
            <p class="stat-content" style="display: block;">
                Seminars
            </p>
        </div>
        <div class="stats-grid-box anim-in-view" id="sgb-5">
            <div class="stat-inside-main">
                <object alt="" class="img" data="/media/numbers/GM.svg">
                </object>
            </div>
            <p class="stat-content" style="display: block;">
                General Members
            </p>
        </div>
        <div class="stats-grid-box anim-in-view" id="sgb-6">
            <div class="stat-inside-main">
                <object alt="" class="img" data="/media/numbers/projects.svg">
                </object>
            </div>
            <p class="stat-content" style="display: block;">
                Live Projects
            </p>
        </div>
    </div>
</div>